<a href="https://colab.research.google.com/github/ambo2020/Anna-Borowska/blob/master/Borowska_Anna_Maria_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## First Assignment

#### 1) Apply the appropriate string methods to the **x** variable (as '.upper') to change it exactly to: "$Dichlorodiphenyltrichloroethane$".

In [91]:
x = "DiClOrod  IFeNi  lTRicLOr oETaNo  DiChlorod iPHeny lTrichL oroEThaNe"

In [92]:
print(x)

DiClOrod  IFeNi  lTRicLOr oETaNo  DiChlorod iPHeny lTrichL oroEThaNe

In [93]:
x.replace(' ', '').title()
# 
# I tried with x.pop and I tried with x.split(',',29) OR index OR delete

'Diclorodifeniltricloroetanodichlorodiphenyltrichloroethane'

In [87]:
x.split(',',31)

['DiClOrod  IFeNi  lTRicLOr oETaNo  DiChlorod iPHeny lTrichL oroEThaNe']

In [95]:
x = x[x.find('Dichlorodipheny'):]

In [97]:
print(x)

e

In [ ]:
uppercase_string=x.upper()

In [ ]:
print(uppercase_string)

DICLOROD  IFENI  LTRICLOR OETANO  DICHLOROD IPHENY LTRICHL OROETHANE

#### 2) Assign respectively the values: 'word', 15, 3.14 and 'list' to variables A, B, C and D in a single line of code. Then, print them in that same order on a single line separated by a space, using only one print statement.

In [ ]:
# 1
A,B,C,D = ['word', 15, 3.14, 'list']

In [ ]:
D

'list'

#### 3) Use the **input()** function to receive an input in the form **'68.4 1.71'**, that is, two floating point numbers in a line separated by space. Then, assign these numbers to the variables **w** and **h** respectively, which represent an individual's weight and height (hint: take a look at the '.split()' method). With this data, calculate the individual's Body Mass Index (BMI) from the following relationship: 
    
\begin{equation}
BMI = \dfrac{weight}{height^2}
\end{equation}

In [ ]:
#1
def bmi (weight = 0, height = 0):
    if bmi== 0:
        bmi = input('68.4' '1.71')    
        bmi.split('','')
        bmi = float(weight)/((float(height)/100)**2)
        print(bmi)

In [ ]:
print(bmi)

<function bmi at 0x7fc9360d1b90>

In [ ]:
w, h = 68.4, 1.71
print(w)
print(h)

68.4
1.71

In [ ]:
#2

In [ ]:
x = input('enter height space weight : ')

enter height and weight : 168 68

In [ ]:
x

'168 68'

In [ ]:
y = x.split(' ')

In [ ]:
y

['168', '68']

In [ ]:
height = float(y[0])

In [ ]:
type(height)

float

#### This value can also be classified according to ranges of values, following to the table below. Use conditional structures to classify and print the classification assigned to the individual. 

<center><img src="https://healthtravelguide.com/wp-content/uploads/2020/06/Body-mass-index-table.png" width="30%"><\center>  


(source: https://healthtravelguide.com/bmi-calculator/)

In [ ]:
#1
bmi = int(input())
def bmi(weight= 0, height= 0):
    if weight == 0:
        weight = input(w)
    if height == 0:
        height = input(h)
    if bmi  < 18.5 and bmi == 18.5:
       print('Underweight')
    if bmi  > 18.5 and bmi < 24.9 :
       print('Normal weight')
    if bmi > 25.0 and bmi ==25.0:
       print('Pre-obesity or obesity')

2

In [13]:
#2
bmi = int(input('BMI: '))
    if bmi < 18.5:
        print('Underweight')
    elif bmi > 18.5 and bmi < 24.9:
        print('Normal weight')
    elif bmi > 25.0 and bmi ==25.0:
        print('Pre-obesity or obesity')

IndentationError: ignored

In [6]:
print(bmi)

NameError: ignored

#### 4) Receive an integer as an input and, using a loop, calculate the factorial of this number, that is, the product of all the integers from one to the number provided.

In [ ]:
for integer in range (1,10):
    print('   ')
    print(f'{integer} ')
    print()

1


2


3


4


5


6


7


8


9

#### 5) Using a while loop and the input function, read an indefinite number of integers until the number read is -1. Present the sum of all these numbers in the form of a print, excluding the -1 read at the end.

In [ ]:
x = 1
while x < 1:
    print(x)
    x += -1
    print(do_sum(x)).pop

In [ ]:
print(x)

1

#### 6) Read the **first name** of an employee, his **amount of hours worked** and the **salary per hour** in a single line separated by commas. Next, calculate the **total salary** for this employee and show it to two decimal places.

In [20]:
# which data, should I invent name and salary?
record = {'first name': 'Susan', 'amount hours worked':150, 'Salary per hour':'12'}
print(record)
def total_salary(hour_worked, wage):
    hours_worked = 150
    wage = 12.00
    total_salary = [hours_worked]*[wage]
print(total_salary)

{'first name': 'Susan', 'amount hours worked': 150, 'Salary per hour': '12'}
<function total_salary at 0x7f6988501050>

#### 7) Read three floating point values **A**, **B** and **C** respectively. Then calculate itens a, b, c, d and e:

In [ ]:
import math

    a) the area of the triangle rectangle with A as the base and C as the height.

In [41]:
A = 2
C = 1.5
from math import area
area = float(input('area of trinagle'('1/2' *A * C)
print(('area of trinagle ') + str(A) + 'is: ' str(1/2 *A*C))

SyntaxError: ignored

    b) the area of the circle of radius C. (pi = 3.14159)

In [ ]:
from math import pi
r = float(input('area of the circle radius C : '))
print ('area of the circle radius C ' + str(r) + " is: " + str(pi * r**2))

area of the circle radius C : 1
area of the circle radius C 1.0 is: 3.141592653589793

    c) the area of the trapezoid that has A and B for bases and C for height.

In [ ]:
A = b1 
B = b2 
C = h 
def area(b1, b2, h):
    return ((b1 + b2) / 2) * h
area = area(b1, b2, h)
print('area is:', area)

area is: 4.275

    d) the area of the square that has side B.

In [ ]:
B = side
def areaSquare( side ):
    area = side * side
    return area

    e) the area of the rectangle that has sides A and B.

In [ ]:
A = l
b = b
l = float(input('Enter the length of a Rectangle: '))
b = float(input('Enter the breadth of a Rectangle: '))
Area = l * b
print("Area of a Rectangle is: %.2f" %Area)
l = A
b = B

Enter the length of a Rectangle: 2
Enter the breadth of a Rectangle: 5
Area of a Rectangle is: 10.00

#### 8) Read **the values a, b and c** and calculate the **roots of the second degree equation** $ax^{2}+bx+c=0$ using [this formula](https://en.wikipedia.org/wiki/Quadratic_equation). If it is not possible to calculate the roots, display the message **“There are no real roots”**.

In [ ]:
import math
def equationroots (a, b, c):
    dis = (b * b - 4 * a * c)
    sqrt_val = math.sqrt(abs(dis))
    if dis > 0: 
        print(' There are no real roots ') 
        print((-b + sqrt_val)/(2 * a)) 
        print((-b - sqrt_val)/(2 * a))

#### 9) Read four floating point numerical values corresponding to the coordinates of two geographical coordinates in the cartesian plane. Each point will come in a line with its coordinates separated by space. Then calculate and show the distance between these two points. 

(obs: $d=\sqrt{(x_1-x_2)^2 + (y_1-y_2)^2}$)

In [3]:
point1 = [30.0443879, 31.2357257]
point2=  [41.8933203, 12.4829321]
point1 = (x1, x2)
point2 = (y1, y2)
float(input('Point 1: ', (point1))
float(input('Point 2: ', (point2))
distance = equationroots(x,y)
print(("Distance between two points is: ") %.2 f %2)

SyntaxError: ignored

#### 10) Read **two floating point numbers** on a line that represent **coordinates of a cartesian point**. With this, use **conditional structures** to determine if you are at the origin, printing the message **'origin'**; in one of the axes, printing **'x axis'** or **'y axis'**; or in one of the four quadrants, printing **'q1'**, **'q2**', **'q3'** or **'q4'**.

In [7]:
my_origin = [30.0443879, 31.2357257]
    if i == my_origin:
        print('origin')

IndentationError: ignored

#### 11) Read an integer that represents a phone code for international dialing.  
#### Then, inform to which country the code belongs to, considering the generated table below:
(You just need to consider the first 10 entries)

In [44]:
import pandas as pd
df = pd.read_html('https://en.wikipedia.org/wiki/Telephone_numbers_in_Europe')[1]
df = df.iloc[:,:2]
df.head(20)

           Country Country calling code
0          Austria                   43
1          Belgium                   32
2         Bulgaria                  359
3          Croatia                  385
4           Cyprus                  357
5   Czech Republic                  420
6          Denmark                   45
7          Estonia                  372
8          Finland                  358
9           France                   33
10         Germany                   49
11          Greece                   30
12         Hungary                   36
13         Iceland                  354
14         Ireland                  353
15           Italy                   39
16          Latvia                  371
17   Liechtenstein                  423
18       Lithuania                  370
19      Luxembourg                  352

In [47]:
codes = {'43': 'Austria','32': 'Belgium','358': 'Finland','33': 'France','49': 'Germany','30': 'Greece', '36' : 'Hungary','354' : 'Iceland','353' : 'Ireland','39': 'Italy'}

In [49]:
codes

{'30': 'Greece',
 '32': 'Belgium',
 '33': 'France',
 '353': 'Ireland',
 '354': 'Iceland',
 '358': 'Finland',
 '36': 'Hungary',
 '39': 'Italy',
 '43': 'Austria',
 '49': 'Germany'}

In [50]:
my_code = input('What is your country code? ')

What is your country code? 33

In [51]:
my_code

'33'

In [52]:
codes[my_code]

'France'

#### 12) Write a piece of code that reads 6 numbers in a row. Next, show the number of positive values entered. On the next line, print the average of the values to one decimal place.

In [73]:
my_new_list= ('5','7','15','1','12','2')
print(my_new_list)

('5', '7', '15', '1', '12', '2')

In [81]:
my_new_list=int
sum(my_new_list)/6

TypeError: ignored

#### 13) Read an integer **N**. Then print the **square of each of the even values**, from 1 to N, including N, if applicable, arranged one per line.

In [70]:
N = i
int(i) for i in range(1,21)*2:
    print(i)

SyntaxError: ignored

#### 14) Using **input()**, read an integer and print its classification as **'even / odd'** and **'positive / negative'** . The two classes for the number must be printed on the same line separated by a space. In the case of zero, print only **'null'**.

In [ ]:
my_new_integer = int(input())
if my_new_integer %2 and my_new_integer > 0:
    print('even positive')
elif my_new_integer == 0:
    print('null')
elif my_new_integer < 0 and my_new_integer %2 == 0:
    print('even negative')
elif my_new_integer > 0 and my_new_integer %2 != 0:
    print('odd positive')
else:
    print('odd negative')

0
null

## Challenge
#### 15) Ordering problems are recurrent in the history of programming. Over time, several algorithms have been developed to fulfill this function. The simplest of these algorithms is the [**Bubble Sort**](https://en.wikipedia.org/wiki/Bubble_sort), which is based on comparisons of elements two by two in a loop of passes through the elements. Your mission, if you decide to accept it, will be to input six whole numbers ramdonly ordered. Then implement the **Bubble Sort** principle to order these six numbers **using only loops and conditionals**.  
#### At the end, print the six numbers in ascending order on a single line separated by spaces.